.footer {
    background-color: #000;
    color: #fff;
    padding: 50px 200px;
    text-align: left;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-logo img {
    height: 30px;
    margin-bottom: 30px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-column {
    margin-right: 50px;
}

.footer-column h3 {
    font-size: 1.4em;
    margin-bottom: 15px;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.0em;
    font-weight: 600;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.flag-icon {
    width: 150px;
    height: auto;
    margin-right: 10px;
    margin-left: 200px;
}

.country-code {
    font-size: 1em;
    font-weight: 600;
}
